.book {
  margin: 0;
  padding: 16px;
  margin-right: 64px;
  height: 400px;
  width: 70vw;
  border: 2px solid #41bea9;
  border-radius: 10px;
  border-right: none;
  border-left: none;
  background-color: white;
  color: black;
  overflow: auto;
}

/*scrollbar styles*/
/* width */
.scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #706f72;
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #ff6768;
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #ff6768;
}
