.editor {
  background-color: #fff;
  margin-right: 64px;
  color: #26262a;
  max-width: 800px;
}

.saveButtonContainer {
  margin-right: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.saveButton {
  font-size: 16px;
  border: 2.5px solid #ff6768;
  border-radius: 50px;
  text-decoration: none;
  background-color: #26262a;
  color: #ff6768;
  padding: 12px;
  margin-top: 32px;
}

.saveButton:hover,
.saveButton:active,
.saveButton:focus {
  outline: none;
  background-color: #ff6768;
  color: #fff;
  cursor: pointer;
}
